<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>挖财宝</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIcons</key>
    <dict/>
    <key>CFBundleIcons~ipad</key>
    <dict/>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>4.28.1</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>tencentwb</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb801514156</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb873583833</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>app</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wacaiFinance</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>wechat</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wxbffe0f7eec657d7a</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qq</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent101116723</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>wacailicaijingxuan</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wacfinance</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string/>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>app-Prefs</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>4.28.1.0</string>
    <key>CMMarketCode</key>
    <string>21000020</string>
    <key>CMPlatform</key>
    <string>40</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>wechat</string>
      <string>weixin</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>sinaweibosso</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqconnect</string>
      <string>mqqopensdkdataline</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>mqqopensdkfriend</string>
      <string>mqqopensdkapi</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqzoneopensdk</string>
      <string>wtloginmqq</string>
      <string>wtloginmqq2</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>mqzonev2</string>
      <string>mqzoneshare</string>
      <string>wtloginqzone</string>
      <string>mqzonewx</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapi</string>
      <string>mqzoneopensdk</string>
      <string>alipay</string>
      <string>alipayshare</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>需要您的同意才能使用蓝牙</string>
    <key>NSCalendarsUsageDescription</key>
    <string>需要您的同意才能读取日历</string>
    <key>NSCameraUsageDescription</key>
    <string>访问相机以提交您的个人资料</string>
    <key>NSFaceIDUsageDescription</key>
    <string>使用Face ID,用于解锁手势密码</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDeion</key>
    <string>需要您的同意,才能始终访问位置</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>需要获取当前位置</string>
    <key>NSLocationUsageDescription</key>
    <string>银行风控需获取您的地理位置以确保交易安全</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>银行风控需获取您的地理位置以确保交易安全</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>需要您的同意才能使用麦克风</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>访问相机以提交您的个人资料</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>访问相册以提交您的个人资料</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleBlackOpaque</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>